@import url(root.css);

/* до 1250 ширины */
@media (max-width: 1250px) {
    /* header-rightside */
    .nav > #logo, .nav > .toggles > .toggle-btn {
        display: block;
    }
    .nav > .nav-links, .nav > .toggles > svg, .toggles > p {
        display: none;
    }
    .nav {
        margin-right: 0;
    }
    .nav {
        display: flex;
    }
    .toggle-btn {
        margin-left: auto;
        margin-right: 0;
    }
    .nav {
        justify-content: space-between;
    }
    .main-button {
        font-size: 1em;
    }

    .toggle-btn > .burger {
        margin-bottom: 12px;
    }
    header {
        padding: 1em 1.5em;
    }
    .big-img {
        width: 100%;
        padding-bottom: 1em;
    }
    .clients .big-img {
        order: 1;
    }
    .clients {
        padding-top: 0;
    }
    .item {
        font-size: calc(10px + 16 * ((100vw - 320px) / (1280 - 320)));
    }
    .mission, .strategy {
        margin: 1em 0;
    }
    .production {
        padding-top: 1em;
    }
    .production-txt, .client-txt {
        margin-bottom: 2em;
    }
    .production > .split > div > img {
        padding-top: .5em;
    }

    .gallery div {
        width: 200vw;
    }

    .safety__main {
        padding: 1em;
    }

    .title {
        font-size: 1.8em;
    }

    .link div a {
        font-size: calc(14px + 16 * ((100vw - 320px) / (1280 - 320)));
    }
    .link div p, .split div ul {
        font-size: calc(14px + 16 * ((100vw - 320px) / (1280 - 320)));
    }

    .ecology__main > .transparent {
        margin: 0;
    }

    .title-popup {
        width: 60vw;
    }
    
    .h1-popup {
        font-size: calc(16px + 16 * ((100vw - 320px) / (1280 - 320)));
        padding-bottom: 0.8em;
    }
    .map-choice-img > img {
        width: 30px;
        height: 30px;
    }

    .title-popup > img {
        max-width: 50%;
    }
    .ecology-item {
        padding: .5em 0;
    }
    .contacts__main > .text-desc {
        font-size: 1em;
    }
    .iframe > iframe {
        width: auto;
        height: 15em;
    }

    .iframe iframe {
        width: 90vw;
    }

    .option {
        width: 90vw;
    }

    .ecology-container {
        padding-top: 1em;
    }
    .about-company h2 {
        font-size: 1.2em;
    }

    /* временно подвал */
    footer .container .split {
        align-items: center;
        justify-content: center;
    }
    

    h1 {
        font-weight: 900;
        line-height: 1;
        font-size: calc(32px + 16 * ((100vw - 320px) / (1280 - 320)));
    }
    h2 {
        font-size: calc(18px + 16 * ((100vw - 320px) / (1280 - 320)));
    }
    p {
        font-size: calc(13px + 16 * ((100vw - 320px) / (1280 - 320)));
    }
    button {
        font-size: calc(24px + 16 * ((100vw - 320px) / (1280 - 320)));
    }
    .safety__main {
        background: url(../img/safety_bg.jpg) bottom no-repeat;
        background-size: 800%;
        width: 100%;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
    }
    .option:hover .map-choice-img img {
        content: url('../img/map/active.png');
    }
    
    .ecology__main > .transparent > .text-desc {
        font-size: calc(14px + 16 * ((100vw - 320px) / (1280 - 320)));
    }

    
    
    .corruption-txt > a {
        font-size: 1em;
    }
    .contacts {
        display: flex;
        flex-direction: column;
        font-size: .95em;
    }
    .agree-text {
        font-size: .63em;
    }
}   

@media (min-width: 768px) and (max-width: 1250px) {
    .gallery div {
        width: 100vw;
    }
    #nextBtn, #backBtn {
        max-width: 5em;
    }
}

@media (min-width: 1250px) {
    header .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
    }
    .nav-links {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .nav-links a {
        position: relative;
        font-weight: 500;
    }
    .nav-links a:hover {
        color: var(--text);
    }
    .nav-links a::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 4px;
        background: var(--background-hover);
        transition: .3s;
    }
    .nav-links a:hover::before {
        width: 100%;
    }
    .nav-links a {
        color: grey;
        font-size: 1.2em;
    }
    a.active {
        color: var(--text);
        font-size: 1.4em;
    }
    
    
    /* Temp footer */
    footer .split > * {
        margin-left: 0;
    }
    .dropdown-menu.open {
        display: none;
    }

    .split {
        flex-direction: row;
    }

    .split > * {
        flex-basis: 100%;
    }
    
    .split > * + * {
        margin-left: 2em;
    }

    .mission-strategy {
        padding: 2em 0;
    }

    .transparent .links {
        padding-right: 1em;
    }

    .transparent {
        margin: 0 10em;
    }

    .option {
        min-width: 460px;
    }

    .choice {
        margin-left: 0;
    }

    h1 {
    font-weight: 900;
    line-height: 1;
    font-size: 4em;
    }
    h2 {
        font-size: 2em;
    }
    p, .split li {
        font-size: 1.3em;
    }
    button {
        font-size: 2.5em;
    }
    a {
        font-size: 1.5em;
    }
    .link > div > p {
        font-size: 1.5em;
    }
    .safety__main > .text-desc {
        font-size: 2em;
    }
    .contacts__main > .text-desc {
        font-size: 2em;
    }
    #backBtn, #nextBtn {
        max-width: 5em;
    }
    .item:nth-child(1) {
        transition-delay: 200ms;
    }
    .item:nth-child(2) {
        transition-delay: 400ms;
    }
    .item:nth-child(3) {
        transition-delay: 600ms;
    }
    .item:nth-child(4) {
        transition-delay: 200ms;
    }
    .item:nth-child(5) {
        transition-delay: 400ms;
    }
    .item:nth-child(6) {
        transition-delay: 600ms;
    }
    .item:nth-child(7) {
        transition-delay: 200ms;
    }
    .item:nth-child(8) {
        transition-delay: 400ms;
    }
    .item:nth-child(9) {
        transition-delay: 600ms;
    }
}
