@import url(root.css);

/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: content-box;
}

*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: content-box;
}

*:focus {
  outline: none;
}

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 10rem;
}

h1,
h2,
h3 {
  font-family: var(--ff-accent);
}

h2,
h3 {
  font-weight: 100;
  line-height: 1.2;
}

h1,
h2,
h3,
p,
li {
  color: var(--text);
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

section {
  background-color: var(--bg-1);
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--bg-1);
  font-weight: 400;
  line-height: 1.6;
  position: relative;
  min-width: 320px;
  overflow-x: hidden;
  opacity: 1;
}

img {
  -webkit-user-drag: none;
  max-width: 100%;
}

input,
textarea,
button {
  font-family: var(--ff-primary);
  color: var(--text);
}

button:hover {
  background-color: var(--btn-hover);
}

button:active {
  transform: scale(0.96);
}

textarea {
  min-height: 80px;
  max-height: 500px;
  resize: vertical;
  border-radius: 15px;
}

input,
textarea {
  background-color: var(--bg-3);
  border: 1px solid var(--bg-1);
  padding: 1em;
  transition: border 0.4s ease-in-out;
}

input {
  border-radius: 50px;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--hover);
}

/* Ссылки */
a {
  transition: color .4s ease;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.container {
  width: min(90%, 120.5rem);
  margin: 2em auto;
}

.split {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Шапка */
header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  width: 100vw;
  z-index: 2;
  background-color: var(--bg-3);
}

header ul {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style-type: none;
}
header ul li a {
  text-decoration: none;
  transition: color .4s ease;
}

nav a {
  position: relative;
  font-size: 1em;
  font-weight: 500;
  color: #696c75;
}
nav a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 4px;
  background: var(--hover);
  transition: .3s;
}
nav a:hover {
  color: var(--text);
}
nav a:hover::before {
  width: 100%;
}

a.lia.active {
  color: var(--text);
  font-size: 1.25em;
}
a.lia.active::after {
  content: "•";
  position: absolute;
  top: 15px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 1.2em;
  color: var(--hover);
}
a.active::before {
  display: none;
}

@media (min-width: 1442px) {
  nav a {
    font-size: 1.3em;
  }
  a.lia.active {
    font-size: 1.35em;
  }
}
@media (max-width: 1441px) {
  nav a {
    font-size: 1.2em;
  }
  a.lia.active {
    font-size: 1.25em;
  }
}
@media (max-width: 1025px) {
  nav a {
    font-size: 1em;
  }
  a.lia.active {
    font-size: 1.15em;
  }
}
@media (max-width: 769px) {
  #logo, .toggles > .toggle-btn {
    display: block;
  }
  nav, .toggles > svg, .toggles > p {
    display: none;
  }
  .lang, .theme {
    font-size: 1em;
  }
}

.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: var(--text);
}

.burger::before {
  top: 0;
  box-shadow: 0 11px 0 var(--text);
}

.burger:hover {
  background-color: var(--bg-3);
}

.toggles {
  display: flex;
  align-items: center;
}

.lang {
  color: var(--white-text);
  background-color: #6593bf;
  text-align: center;
  border-radius: .2em;
  margin-left: 20px;
  transition: .4s;
  cursor: pointer;
}

.theme {
  background-color: #6593bf;
  color: #DDE0EE;
  text-align: center;
  border-radius: .2em;
  margin-left: 20px;
  transition: .4s;
  cursor: pointer;
}

.lang,
.theme {
  font-size: 1.35em;
  width: 100%;
  padding: 0.7em;
  min-width: 65px;
  max-width: 65px;
}

.lang:hover,
.theme:hover {
  background: var(--bg-hover);
}

.lang-mobile {
  display: flex;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  font-weight: bold;
}

#dark,
#mobileDark {
  display: none;
}

@media (max-width: 769px) {
  .lang-mobile,
  .theme {
    max-height: 55px;
    max-width: 55px;
    min-width: 55px;
    font-size: .9em;
    align-items: center;
  }
}

footer {
  background-color: var(--bg-3);
  padding: 1em 1.5em;
}

/* Контейнер */
footer .container {
  margin-inline: 1em;
  width: 100%;
}

footer>.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Разделитель */
footer .container .split {
  padding: 1em;
  padding-left: 0;
}

.split {
  display: flex;
  flex-direction: column;
}

/* Контейнер ссылок */
.follow-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Ссылки */
.follow-link {
  padding: .4em;
  transition: .4s;
  filter: var(--link-filter);
}

/* При наведении */
.follow-link:hover {
  filter: var(--link-hover-filter);
}

/* Распределяет элементы в строку и ставит между ними пространство */
.footer-split {
  display: flex;
  gap: 40px;
}

/* Ссылка в подвале */
footer a {
  color: var(--link);
}

/* При нажатии */
footer a:hover {
  color: var(--hover);
}