@import url(basic.css);

.main__container *,
.hero__container>* {
  color: var(--white-text);
}
.main__container {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.main__container>* {
  margin: .5em;
}

/* Главная */
.hero {
  position: relative;
  z-index: 1;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.2);
  margin-top: 80px;
  padding: 2em 2em 2em 2em;
}

/* Видео на фон */
#video {
  position: absolute;
  z-index: -3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200%;
  height: 100%;
  overflow: hidden;
}

/* Заголовок */
.hero .container h1 {
  padding-bottom: 0.5em;
  color: var(--hover);
}

/* Текст */
.hero .container h2 {
  padding: 0 1em 1em 0;
  max-width: 30em;
}

/* Кнопка */
.main-button a {
  color: var(--white-text);
}

.main-button {
  padding: 10px 20px;
  font-size: 2em;
  border-radius: 10px;
  font-weight: 500;
  background: var(--bg-hover);
  transition: all .2s ease-in-out;
}

.main-button:hover {
  color: var(--white-text);
}

.main-button:active {
  transform: scale(0.96);
}

.hero__container .main-button {
  position: absolute;
}

/* Секция 2. О компании */
.about-company {
  background: url("../img/about company/about_company_bg_1.png") no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  margin: 5em 0;
  width: 100%;
}

.about-company-bg {
  background-color: #2D478D;
}

.sub-about-company {
  padding-top: 1em;
}

.sub-about-company .container {
  margin-bottom: 0;
}

.production .container {
  margin-top: 0;
}

.big-img {
  width: 50%;
  border-radius: 25px;
  object-fit: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.item {
  text-align: center;
  padding-bottom: 1em;
}

.item p {
  color: var(--white-text);
  font-weight: bold;
}

.icon {
  display: block;
  margin: auto;
  max-width: 5em;
  height: auto;
}
@media (max-width: 768px) {
  .icon {
    max-width: 4em;
  }
}

.mission, .strategy, .production {
  text-align: center;
}

.mission {
  padding: 2em;
  border-radius: 25px;
  background: #FFFFFF85;
}

.strategy {
  padding: 2em;
  border-radius: 25px;
  background: #FFFFFF85;
}

.italic {
  font-style: italic;
}

.mission-strategy h1,
.production h1,
.clients h1 {
  color: var(--white-text);
}

.mission-strategy p,
.production p,
.clients p {
  color: var(--black-text);
  font-family: var(--ff-accent);
}

.mission-strategy h1,
.mission-strategy p,
.production-txt h1,
.production-txt p,
.client-txt h1,
.client-txt p {
  font-weight: bold !important;
}

.production,
.clients {
  padding: 0 0 2em 0;
}

.production-txt,
.client-txt {
  padding: 2em;
  border-radius: 25px;
  background: #FFFFFF85;
}

.production-img {
  padding: auto;
  margin: auto;
}

.title {
  padding-bottom: .3em;
}

/* Безопасность */
.safety__main {
  background: url(../img/safety_bg.jpg);
  background-size: cover;
  margin: 5em 0;
  width: 100%;
}

.safety .container {
  margin-top: 0;
}

.safety__main>.title {
  padding: 0;
}

.safety__main>.text-desc {
  font-weight: 100;
}

.link a {
  display: inline-block;
  color: var(--link-w);
  border-bottom: 1px solid transparent;
  transition: .4s;
}

.link a::after {
  content: '';
  display: block;
  width: 0px;
  height: 1px;
  background: var(--hover-link-w);
  transition: .4s;
}

.link a:hover::after {
  width: 100%;
}

.link a:hover {
  border-color: var(--hover-link-w);
}


.links {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.link {
  display: flex;
  text-align: right;
  margin-left: auto;
  padding-bottom: 0.5em;
}

.link>img {
  width: 60px;
  height: 60px;
}

a.link {
  padding: 0;
}

/* Коррупция */
.corruption .links {
  padding-top: 1em;
}

.corruption a {
  display: inline-block;
  padding: 0;
  color: var(--link);
  border-bottom: 1px solid transparent;
  transition: .4s;
}

.corruption-txt>* {
  display: inline;
}

.corruption-txt>a {
  word-wrap: break-word;
}

.compliance {
  display: inline !important;
}

.compliance::after {
  display: inline !important;
}

.corruption a::after {
  content: '';
  display: block;
  width: 0px;
  height: 1px;
  background: var(--hover-link);
  transition: .4s;
}

.corruption a:hover {
  border-color: var(--hover-link);
}

.corruption a:hover::after {
  width: 100%;
}

/* Секция Экология */
.ecology__main {
  background-image: url(../img/ecology/ecology_bg.jpg);
  background-size: cover;
  position: relative;
  margin: 2em 0;
  padding: 0 2em;
  width: fit-content;
}

.ecology-item:nth-child(2) {
  transition-delay: 200ms;
}

.ecology-item:nth-child(3) {
  transition-delay: 400ms;
}

#ecology .container > * {
  text-align: center;
} 

/* Прозрачный блок с блюром для читаемости */
.transparent {
  backdrop-filter: blur(10px);
  background-color: var(--ecology-div-bg);
}

.transparent a {
  color: var(--link-w);
}

.ecology__main>.transparent>.title {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.ecology__main>.transparent>.text-desc {
  padding-bottom: 1em;
}

.ecology-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1em;
}

.ecology-item {
  text-align: center;
  justify-content: center;
}

.ecology-item>p {
  margin: auto;
  max-width: 75%;
}

.split>div>ul {
  padding-left: 1em;
}

/* Секция Контакты */
.contacts__main {
  background: url("../img/contacts/contacts_bg.png");
  background-size: cover;
  margin: 2em 0;
  width: auto;
}

.contacts>* {
  display: inline;
  margin-right: 1em;
}

.contacts__main>.title {
  padding: 0;
}

.contacts__main>.text-desc {
  margin: 0;
}

.contacts__main>.text-desc:nth-child(3) {
  padding-bottom: 2em;
}

.contacts__main>p>a {
  font-size: inherit;
}

/* Ссылки в секции "Контакты" */
.contacts a {
  display: inline-block;
  color: var(--link-w);
  border-bottom: 1px solid transparent;
  transition: .4s;
}

.contacts a::after {
  content: '';
  display: block;
  width: 0px;
  height: 1px;
  background: var(--hover-link-w);
  transition: .4s;
}

.contacts a:hover {
  border-color: var(--hover-link-w);
}

.contacts a:hover::after {
  width: 100%;
}

/* Выровнять по центру контент секции "Контакты" */
#contacts .container .split {
  justify-content: center;
  gap: 0;
}

/* Размер изображения SVG маркера */
.map-choice-img>img {
  width: 65px;
  height: 65px;
}

/* Карта */
.iframe {
  max-width: fit-content;
  max-height: max-content;
}

.iframe>iframe {
  width: 600px;
  height: 100%;
}

/* Выбор карты */
.choice {
  max-width: fit-content;
}

/* Контейнер опций */
.option {
  display: flex;
  padding: 2em 1.5em;
  background: var(--form-bg);
  transition: .4s;
}

/* При выделении */
.option:hover {
  background-color: var(--form-bg-hover);
  cursor: pointer;
}

/* Параграф черный, несмотря на изменение темы */
.map-choice-txt p {
  color: var(--black-text);
}

/* Первое изображение по дефолту активное (красный фильтр для SVG) */
.option:nth-child(1) .map-choice-img img {
  filter: var(--active-map);
  transition: filter .4s;
}

/* Все последующие по дефолту не активные (серый фильтр для SVG) */
.map-choice-img img {
  filter: var(--unactive-map);
  transition: filter .4s;
}

/* Ночная карта */
.night-map {
  filter: invert(100%);
}

/* Форма "Обратная связь" */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
}

/* Обертка формы */
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: max(30%, 20rem);
  border-radius: 30px;
  background: var(--form-bg);
  padding: 2em;
  margin: 2em auto;
}
@media (max-width: 375px) {
  .form-wrapper {
    width: 100%;
    border-radius: 0px;
    margin: 0px;
  }
}

.form-wrapper>* {
  margin: .5em 0;
}

.form-wrapper div {
  display: flex;
}

.form-wrapper div>* {
  padding-left: .5em;
}

.agree * {
  display: inline;
  font-size: 1em;
}

/* Ссылка */
.agree-link {
  text-decoration: underline;
}

/* Текст */
.agree-text {
  color: var(--black-text);
}

.agree p,
.agree a {
  display: inline;
  font-size: calc(9.6px + .5 * ((100vw - 320px) / (1280 - 320)));
}

.agree a:hover {
  color: var(--form-hover);
}

/* Флажок */
#agree-checkbox {
  cursor: pointer;
}

/* Кнопка "Отправить" */
.send {
  font-size: 1em;
  color: var(--white-text);
  background: var(--hover);
  border: none;
  cursor: pointer;
}

/* При нажатии */
.send:hover {
  scale: 1;
  background: var(--btn-bg-hover);
}