/* Всплывающее окно при нажатии на кнопку "Подробнее" в секции "О компании" */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.555);
  top: 3em;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
}

/* При нажатии на кнопку "Подробнее" */
.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4em;
  padding: 1.5em 0;
}

.popup__content {
  position: relative;
  background-color: var(--bg-1);
  padding: 10px;
}

.popup__content .container {
  width: min(95%, 120.5rem);
}

/* Специально для галереи, содержание на белом фоне, даже при темной теме */
#gallery-popup .popup__content {
  background: #fff;
}

/* Кнопки */
/* .popup__body i {
    top: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    font-size: 1.25rem;
    color: var(--white-text);
    text-align: center;
    line-height: 50px;
    background: var(--form-bg);
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}
.popup__body i:active{
    transform: translateY(-50%) scale(0.85);
}
.popup__body i:first-child{
    left: -65px;
}
.popup__body i:last-child{
    right: -65px;
} */

.popup::-webkit-scrollbar {
  display: none;
}

.plastic-omnium .title-popup a {
  margin-top: auto;
  margin-bottom: auto;
}

.title-popup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  width: 80%;
  padding-bottom: 1em;
  gap: 30px;
}
@media (max-width: 1024px) {
  .title-popup {
    flex-direction: column;
  }
}

.title-popup a {
  transition: .4s;
}
.title-popup a::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background: var(--hover-link);
  transition: .4s;
}

.title-popup a:hover::after {
  width: 100%;
}

.plastic-omnium {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 2em;
}

.dsk {
  text-align: center;
}

.before-titles {
  padding: .5em;
}

.img128 {
  width: 128px;
}