:root {
    --bg-1: #ffffff;
    --bg-3: #e4edf1;
    --form-bg: #95A4C1;
    --form-bg-hover: #95a4c1df;
    --gallery-bg: #95A4C1;
    --btn-bg: rgba(0, 0, 0, 0);
    --ecology-div-bg: rgba(0, 0, 0, .6);
    --dropdown-menu-bg: rgba(221, 224, 238, .5);
    --background-hover: rgba(68, 111, 161, 0.788);
    --hover: #6593bf;
    --btn-hover: #6593bfbb;
    --link-filter: invert(3%) sepia(7%) saturate(7212%) hue-rotate(198deg) brightness(70%) contrast(98%);
    --link-hover-filter: invert(60%) sepia(14%) saturate(1212%) hue-rotate(167deg) brightness(90%) contrast(85%);
    --text: #080A11;
    --white-text: #DDE0EE;
    --black-text: #080A11;
    --line: black;

    --active-map: invert(18%) sepia(87%) saturate(6975%) hue-rotate(357deg) brightness(100%) contrast(100%);
    --unactive-map: invert(43%) sepia(4%) saturate(145%) hue-rotate(315deg) brightness(100%) contrast(100%);

    --ff-primary: 'Open Sans', sans-serif;
    --ff-accent: 'Montserrat', sans-serif;
}

.dark-theme {
    --bg-1: #080A11;
    --bg-3: #161616;
    --btn-bg: rgba(0, 0, 0, 0);
    --dropdown-menu-bg: rgba(25, 25, 25, .5);
    --ecology-div-bg: rgba(0, 0, 0, .6);
    --hover: #6593bf;
    --btn-hover: #6593bfbb;
    --link-filter: invert(96%) sepia(29%) saturate(810%) hue-rotate(178deg) brightness(80%) contrast(99%);
    --link-hover-filter: invert(60%) sepia(14%) saturate(1212%) hue-rotate(167deg) brightness(90%) contrast(85%);
    --background-hover: rgba(68, 111, 161, 0.788);
    --text: #DDE0EE;
    --white-text: #DDE0EE;
    --black-text: #080A11;
    /* --background-hover: rgba(236, 207, 119, .08); */
    --line: grey;
}