/* Общие стили для страниц */
.fix-nav {
    
}

html {
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}

/* Header */
header {
    position: fixed;
    top: 0;
    background-color: var(--bg-3);
    z-index: 2;
    width: 100vw;
    padding: 0 1em;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    padding: 0 10px;
}

header ul li a {
    transition: color .4s ease;
    display: block;
    text-decoration: none;
    color: var(--text);
}

.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: var(--text);
}
.burger::before {
    top: 0;
    box-shadow: 0 11px 0 var(--text);
}

.burger:hover {
    background-color: var(--bg-3);
}

.toggles {
    display: flex;
    align-items: center;
}

.lang {
    color: var(--white-text);
    width: 65px;
    background-color: #6593bf;
    text-align: center;
    border-radius: .2em;
    padding: .5em;
    padding-inline: .8em;
    margin-left: 20px;
    transition: .4s;
    cursor: pointer;
}    


.theme {
    width: 65px;
    background-color: #6593bf;
    color: #DDE0EE;
    text-align: center;
    border-radius: .2em;
    padding: .5em;
    padding-inline: .8em;
    margin-left: 20px;
    transition: .4s;
    cursor: pointer;
}
.lang:hover, .theme:hover {
    background: var(--background-hover);
}
#dark, #mobileDark {
    display: none;
}

.dropdown-menu {
    display: none;
    top: 5.5em;
    width: 300px;
    background: var(--bg-3);
    border-radius: 10px;
    height: 0;
    overflow: hidden;
    transition: height .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu.open {
    margin-top: .3em;
}
.dropdown-menu.open a:nth-child(1) {
    margin-top: 1em;
}

.dropdown-menu > a {
    margin: 1em;
    font-weight: 550;
}

.dropdown-menu > a:hover {
    color: var(--white-text);
    background: var(--background-hover);
}

.lang-mobile {
    display: flex;
    padding: 1em 0 1em 0;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    font-weight: bold;
}

.mobile-toggle-row {
    display: flex;
    margin-inline: auto;
    width: fit-content;
    margin-top: 23px;
}

footer {
    background-color: var(--bg-3);
}

footer {
    padding: 1em 1.5em;
}
footer .container {
    margin-inline: 1em;
    width: 100%;
}

footer .container .split {
    padding: 1em;
    padding-left: 0;
}

.logo-footer {
    display: flex;
    padding: 0.4em 0;
    gap: 40px;
    justify-content: center;
}
.logo-footer p {
    padding-top: 1%;
}
.logo-footer > img {
    width: 106px;
    height: 39px;
}

.follow-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.follow-link {
    padding: .4em;
    transition: .4s;
    filter: var(--link-filter);
}
.follow-link:hover {
    filter: var(--link-hover-filter);
}

.split {
    display: flex;
    flex-direction: column;
}

footer > .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-split {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.logo-footer {
    display: none;
}
