@media (max-width: 1250px) {
    .vacancies-item {
        display: flex;
        flex-direction: column;
    }
    .vacancies-text {
        padding-top: 1em;
        padding-inline: 1em;
        
    }
    .vacancies-text h1 {
        font-size: 1.4em;
        padding-bottom: 0.3em;
    }
    .vacancies-text p {
        font-size: 1em;
    }
    .dropdown-menu.open {
        height: calc(250px + (30) * ((100vw - 320px) / (1250 - 320)));
    }
    .form-title {
        font-size: 1.7em;
    }
    
    .vacancies-container {
        margin-inline: auto;
        width: min(90%, 120.5rem);
        margin-top: 100px;
        display: flex;
        flex-direction: column;
    }
}
