.fix-nav {
    display: block;
    height: 63px; /* this is the height of header */
    margin-top: -63px; /* this is again negative value of the height of header */
    visibility: hidden;
}

/* TODO: Add animations  */
h1, p, li, img, button, a, .awards {
    /* animation: fade linear; */
}

:root {
    --bg: #080A11;
    --text: #DDE0EE;
    --hover: #6593bf;

    /* ? */
    --primary: #857942;
    --primary: ##56bbc8;

    --secondary: #142211;
    --accent: #ab9b54;

    /* old idk */
    --body-bg: #161616;
    --section-bg: #252525;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--bg);
    /* font-size: clamp(1.125rem, 2vw, 1.25rem); */
}

section {
    background-color: var(--bg);
}

h1, p, a, li {
    color: var(--text);
}

span {
    font-weight: bold;
}

nav a {
    font-size: 100%;
    text-decoration: none;
}

a:hover {
    color: var(--hover);
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid var(--hover);
    color: var(--text);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: var(--hover);
}

h1 {
    font-size: 60px;
    line-height: 1.2;
}

p {
    font-size: 25px;
    line-height: 1.4;
}

a {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

/* Header */

header {
    margin-bottom: 92px;
}

nav {
    /* make nav sticky */
    position: fixed;
    top: 0;

    width: 100%;
    height: 10%;
    
    display: flex;
    align-items: center;

    background-color: var(--bg);
    
    z-index: 2;
}

nav ul li {
    display: inline;
    font-size: 20px;
    margin-right: 20px;
}

.logo {
    margin-right: auto;
    margin-left: 20px;
    margin-bottom: 15px;
}

.logo:hover {
    cursor: pointer;
}

/* Main */

/* Секция 1 - Главная - Hero */
.hero {
    background: rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    min-height: 50vh;
    height: 100vh;
    z-index: 1;
}

#video {
    position: absolute;
    z-index: -3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.hero__main {
    text-align: left;
}

.hero-wrapper {
    margin-left: 300px;
}

.main-title {
    font-size: 60px;

    margin-top: 100px;
    margin-bottom: 10px;
}

.main-text-desc {
    font-size: 35px;

    margin-top: 20px;

    max-width: 1200px;
}

.btn_vacancies {
    font-size: 40px;
    font-weight: 600;

    margin-top: 2%;
}

/* Обертка для всего контента в main section */
.main__wrapper {
    text-align: center;
}

/* Заголовок для всех main в секциях */
.title {
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 20px;
}

/* Описание для всех main в секциях */
.text-desc {
    font-size: 25px;
    padding-bottom: 25px;
    
    margin-left: auto;
    margin-right: auto;

    max-width: 150vh;
}

/* Стили для всех main section ссылок с иконкой и описанием */
.links-container {
    display: flex;
    flex-direction: column;
    float: right;

    margin-right: 150px;
}

.link {
    text-align: right;
    display: flex;
    margin-left: auto;
}

.link > a {
    padding: 10px;
}

.link > img {
    width: 60px;
    height: 60px;
}

/* Секция 2. О компании */  

/* Main "about" */
.main__about {
    background: url(img/about\ company/about_company_bg_1.png) no-repeat center;
    background-size: 300vh;

    margin-top: 80px;
    margin-bottom: 80px;
}

/* Кнопка "Подробнее" в секции "О компании" */
.btn_about {
    background-color: rgba(0, 0, 0, 0);

    border: 2px solid var(--hover);
    color: var(--text);
    padding: 10px 20px;
    
    text-decoration: none;

    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 25px;
}

.btn_about:hover {
    color: var(--text);
    background: var(--hover);
}

.big_img{
    max-width: 50%;
    width: 50%;
}

.wrapper__oneliner {
    display: flex;
    margin-bottom: 0;
}

/* Иконки с текстом */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    max-width: 50%;

    padding: 30px 10px 0px 0px;
}

.item .icon {
    width: 100px;
    height: 100px;

    display: block;
    margin: auto;

    max-width: 300px;
}
.item p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}

/* Разделы Миссия и Стратегия */
.mission {
    margin-left: 100px;
}

.strategy {
    margin-left: 100px;
}

/* Продукция */
.production {
    margin-left: 100px;
}

.production-desc {
    padding-right: 5%;
}

.production-img {
    margin-right: 35px;
}

/* Клиенты */
.clients {
    display: flex;
}

.client-img {
    margin-top: 30px;
    width: 50%;
    height: 400px;
}

.client-container {
    margin-left: 100px;
    width: 50%;
}

/* Секция Безопасность */
.safety {
    margin-top: 10px;
}

.safety__main {
    background: url(img/safety_bg.jpg);
    background-size: cover;
    padding-bottom: 160px;

    margin-top: 80px;
    margin-bottom: 80px;
}

/* Награды */
.gallery {
    width: 100%;
    display: flex;

    overflow-x: scroll;
}

.gallery div {
    width: 100%;
    display: grid;

    /* !!! */
    grid-template-columns: repeat(7, 1fr);

    grid-gap: 30px;
    flex: none;

    padding: 20px;
}

.gallery div img {
    width: 100%;
    filter: grayscale(100);
    transition: transform 0.5s;
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

#backBtn, #nextBtn {
    width: 80px;
    cursor: pointer;
    margin: 40px;
}

.gallery div img:hover {
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}

.corruption {
    margin-left: 100px;
    padding-bottom: 20px;
}

/* Секция Экология */
.ecology__main {
    margin-top: 100px;
    background-image: url(img/ecology/ecology_bg.jpg);
    background-size: cover;

    /* для линка */
    padding-bottom: 100px;
}

.ecology-title {
    margin: 0 15px;
}

.ecology-text-desc {}

.ecology__sub {
    display: flex;

    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;

    /* !!!! */
}

/* ecology__left */
ul {
    margin-top: 20px;
}

li {
    padding-top: 20px;
}

/* ecology__right */

.ecology-item {
    text-align: center;
    margin: 0;
}

li {
    font-size: 20px;
}

.ecology__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ecology-item {
    width: 25vh;
}

.ecology-img {
    height: 120px;
    width: 120px;

    display: block;
    margin: auto;

    margin-top: 20px;
}

.ecology-item p {
    font-size: 18px;
    font-weight: bold;
}

/* Секция Контакты */
.contacts__main {
    background: url("img/contacts/contacts_bg.png");
}

/* Footer */
footer {
    display: block;
}

/* Всплывающее окно при нажатии на кнопку "Подробнее" в секции "О компании" */
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.555);
    top: 0;
    left: 0;
    z-index: 1;

    /* Анимация */
    opacity: 0;
    visibility: hidden;

    overflow-y: auto;
    overflow-x: hidden;

    transition: all 0.5s ease 0s;
}

/* При нажатии на кнопку "Подробнее" */
.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup.open .popup__content {
    transform: translate(0px, 0px);
    opacity: 1;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 100px;
    padding: 30px 10px;
}

.popup__content {
    position: relative;

    background-color: var(--bg);
    min-width: 800px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;

    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
}

.popup__content h1, p {
    margin: 0;
}

.popup__content h1 {
    font-size: 40px;
}

.popup__content img {
    background-size: cover;
    margin: 10px auto;

    padding: 5px;
}

.popup::-webkit-scrollbar {
    display: none;
}

/* Убрал скроллбар с сайта */
body::-webkit-scrollbar {
    display: none;
}

.dsk {
    margin-left: 20px;
}

.plastic-omnium p, .dsk p {
    font-size: 20px;
}

.popup__close {
    position: absolute;

    right: 5px;
    top: 5px;

    color: red;

    padding-left: 5px;
    padding-right: 5px;

    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    animation: wave 3s infinite;
}

@keyframes wave {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}

.before-titles {
    font-size: 30px;
}

.title-popup h1 {
    margin-top: auto;
    margin-bottom: auto;
}
